[ req ]
default_bits       = 2048
default_md         = sha256
default_keyfile    = nginx.key
prompt             = no
encrypt_key        = no
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
C  = JP
ST = Tokyo
L  = Minato-ku
O  = Example Company
OU = IT Department
CN = hioikawa.42.fr

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = hioikawa.42.fr
DNS.2 = grafana
