<!-- chat/templates/chat/dm_sessions.html -->
{% load static %}

<h2>Start DM</h2>

<!-- エラーメッセージの表示 -->
{% if messages %}
<ul>
    {% for message in messages %}
    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<!-- DM相手を指定して開始するtext field -->
<label for="nickname-input">DM with:</label>
<input id="nickname-input" type="text" size="20">
<input id="nickname-submit" type="button" value="Enter">

<hr>

<!-- DM履歴のあるuserとのDMはこちらから-->
<h3>DM Session List</h3>
<ul id="dm-sessions"></ul>
<hr>

<script type=module src="{% static 'chat/js/dm-sessions.js' %}"></script>
