 {% comment %} chat/templates/chat/dm_with.html  {% endcomment %}

{% load static %}

{% if not isSystemUser %}
    <h2>DM with <a href="{{ url_config.kSpaUserInfoUrlBase }}{{ target_nickname }}/" data-link>{{ target_nickname }}</a></h2>
{% else %}
    <h2>System Message</h2>
{% endif %}


{% if not isBlockingUser %}
    <div id="dm-container">
    
        {% comment %} DM logを表示  {% endcomment %}
        <ul id="dm-log" style="list-style: none;">
            {% for message in messages %}
            <li class="{{ message.sender.nickname|slugify }}" data-sender-name="{{ message.sender.nickname }}">
                <div class="avatar-and-sender">
                    {% if message.sender.nickname == target_nickname %}
                        <img src="{{ other_avatar_url }}" alt="Avatar" class="avatar">
                    {% else %}
                        <img src="{{ user_avatar_url }}" alt="Avatar" class="avatar">
                    {% endif %}
                    <span class="sender-name">{{ message.sender.nickname }}</span>
                </div>
                <div class="message-content">
                    <span>{{ message.message|escape }}</span>
                    <span class="timestamp">{{ message.timestamp|date:"Y-m-d H:i:s" }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>


        {% if not isSystemUser %}
        <input id="message-input" type="text">
        <input id="message-submit" type="button" value="Send">
    {% endif %}

    </div>
{% else %}
    <p>[blocking user]</p>
{% endif %}


{{ target_nickname|json_script:"target_nickname" }}
