<!-- tmp.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>dm page</title>
</head>
<body>

<h2>user nickname: {{ user.nickname }}</h2>
<!-- ニックネームをJavaScriptに渡すための隠れた要素を追加 -->
<span id="user_nickname" style="display: none;">{{ user.nickname|safe }}</span>

<hr>

DM with
<input id="nickname-input" type="text" placeholder="nickname" size="20">
<input id="nickname-submit" type="button" value="Enter">

<hr>

<!-- DMリスト表示部 -->
<div id="dm-list" style="float: left; width: 30%; height: 90vh; overflow: auto;">
    <!-- DMリストが動的にここに挿入される -->
</div>

<!-- DM詳細表示部 -->
<div id="dm-detail" style="float: right; width: 70%; height: 90vh;">
    <!-- DM詳細がここに表示される -->
</div>


<script src="{% static 'chat/js/dm_page.js' %}"></script>
</body>
</html>
