<!-- change_avatar.html -->
{% load static %}

<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Change Avatar</title>
</head>
<body>
<h1>Change Avatar</h1>

<!-- アバター変更用 -->
<label for="avatar">New Avatar:</label>
<input type="file" id="avatar" name="avatar" required>
<button onclick="uploadAvatar()">Upload New Avatar</button>

<hr>
<a href="{% url 'accounts:user' %}">Return to User Page</a>

<script src="{% static 'accounts/js/upload-avatar.js' %}"></script>

</body>
</html>
