{% comment %} edit_profile.html  {% endcomment %}

{% load static %}

<div class="container" >
	<div class="hth-accounts-container">

		<h2>Edit user profile</h2>
		{% comment %} TODO_ft_2:あらかじめスペースをとっているので、トーストに変更したい  {% endcomment %}
		<p id="message-area"></p>

		{% comment %} ニックネーム更新用のフォーム  {% endcomment %}
		<form id="nickname-form">
			<h2>Nickname</h2>
			<p>
				<label for="nickname">Nickname:</label>
				<input type="text" id="nickname" placeholder="{{ current_nickname }}" required></p>
			<button class="hth-btn" type="submit">Update nickname</button>
		</form>

		{% comment %} 42authの場合はpassword変更非表示  {% endcomment %}
		{% if not is_42auth_user %}
		<form id="password-form">
			<h3 class="mb-1">password</h3>
			<p>current password: <input type="password" id="current_password" placeholder="current-password" required></p>
			<p>new password: <input type="password" id="new_password" placeholder="new-password"></p>
			<button class="hth-btn" type="submit">update password</button>
		</form>
		{% endif %}

	</div>
</div>

{% comment %} script src="{% static 'accounts/js/edit_profile.js' %}"></script> {% endcomment %}
