{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>edit profile</title>

    <style>
        .success-message {
            color: blue;
        }
        .errorlist {
            color: red;
        }
    </style>

</head>
<body>

{% block content %}
<div class="container">
    <h2>Edit Profile</h2>

    <hr>

    <!-- フィードバックメッセージの表示 -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }} success-message"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- ニックネーム編集フォーム -->
    <form method="post">
        {% csrf_token %}
        <h4>Edit Nickname</h4>
        {{ user_form.as_p }}
        <button type="submit">change nickname</button>
    </form>

    <br>

    {% if password_form %}
    <hr>
    <!-- パスワード変更フォーム -->
    <form method="post">
        {% csrf_token %}
        <h4>Change Password</h4>
        {% for field in password_form %}
        <p>
            {{ field.help_text }}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </p>
        {% endfor %}
        <button type="submit">change password</button>
    </form>
    {% endif %}

</div>
{% endblock %}

<hr>
<br>
<a href="/pong/">🏓 pong index page</a>

</body>

</html>
