{% extends 'base.html' %}
{% load static %}
{% block title %}Log in - hth Pong{% endblock title %}
{% block content %}
<div class="canvas-container">
	<div class="hs-text">
		<div class="container" >

			<!-- signup box -->
			<main class="form-sign m-auto" id="login-form">
				<h1 class="slideup-text h3 mb-3 fw-normal">Please log in</h1>
				<p id="message-area"></p>
				<!-- auth form -->
				<form class="sign-form" onsubmit="loginUser(event)">
					<div class="slideup-text form-floating">
						<input type="text" class="form-control" id="email" placeholder="name@example.com" required>
						<label for="floatingInput">Email address</label>
					</div>
					<div class="slideup-text form-floating">
						<input type="password" class="form-control" id="password" placeholder="password" required>
						<label for="floatingPassword">Password</label>
					</div>
					<input type="hidden" id="next" value="/accounts/user/">
					<button class="slideup-text sign_btn sign_btn-primary mb-1 w-100 py-2 my-2" type="submit">Log in</button>
				</form>
				<hr>
				<!-- button 42 auth -->
				<a href="{% url 'accounts:oauth_ft' %}" class="slideup-text sign_btn sign_btn-primary w-100 py-2" role="button">Log in to your 42 account</a>
				<!-- link: Sign up -->
				<div class="slideup-text form-sign-text pt-4" >
					<a href="{% url 'accounts:signup'%}">Create an Account</a>
					<!-- <a href="{% url 'accounts:signup'%}">新規アカウントの作成</a> -->
				</div>
			</main>

		</div>
	</div>
</div>

<script src="{% static 'accounts/js/login.js' %}"></script>
{% endblock %}

<!-- 以前のコード -->
<!-- <!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>ログイン</title>
</head>
<body>
<h1>ログイン</h1>
<p id="message-area"></p>
<form id="login-form" onsubmit="loginUser(event)">
    <input type="text" id="email" placeholder="E-mail" required><br>
    <input type="password" id="password" placeholder="password" required autocomplete="current-password">
    <input type="hidden" id="next" value="/accounts/user/">
    <button type="submit">ログイン</button>
</form>

<script>
    function loginUser(event) {
        event.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const nextUrl = document.getElementById('next').value;

        fetch('/accounts/api/login/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({email: email, password: password})
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    // Error
                    document.getElementById('message-area').textContent = data.error;
                    if (data.redirect) {
                        window.location.href = data.redirect;
                    } else {
                        console.error('Error:', data.error);
                    }
                } else if (data.message) {
                    // Verified
                    console.log(data.message);
                    window.location.href = data.redirect;  // Redirect on successful verification
                }
            })
            .catch(error => console.error('Error:', error));
        clearForm()
    }

    function clearForm() {
        document.getElementById('email').value = '';
        document.getElementById('password').value = '';
    }
</script>

<hr>
<a href="{% url 'accounts:oauth_ft' %}">login with 42</a>
<hr>
<a href="{% url 'accounts:signup'%}">ユーザー登録</a>
<hr>
<a href="/pong/">🏓 return to pong</a>
</body>
</html> -->
