{% load static %}

<div class="container">

	<div class="
		hth-accounts-container
		m-auto
		"
		id="login-form-container">

		<h1 class="
			slideup-text
			">Please log in</h1>

		 {% comment %} TODO_ft_2:あらかじめスペースを用意しているのでPOPUPに切り替えたい  {% endcomment %}
		<p id="message-area"></p>

		 {% comment %} auth form  {% endcomment %}
		<form class="hth-sign-form">
			<div class="
				slideup-text
				form-floating">
				<input class="form-control"
				id="email"
				type="text"
				placeholder="name@example.com"
				autocomplete="username"
				required>
				<label for="floatingInput">Email address</label>
			</div>
			<div class="
				slideup-text
				form-floating">
				<input class="form-control"
				id="password"
				type="password"
				placeholder="password"
				autocomplete="current-password"
				required>
				<label for="floatingPassword">Password</label>
			</div>
			<input type="hidden" id="next" value="/accounts/user/">
			<button class="
				slideup-text
				sign_btn
				sign_btn-primary
				mb-1
				w-100
				py-2
				my-2
				"
				id="login-btn"
				type="submit">Log in</button>
		</form>

		<hr>

		 {% comment %} button 42 auth  {% endcomment %}
		<a class="
			slideup-text
			sign_btn
			sign_btn-primary
			w-100
			py-2
			"
			id="auth42-a-btn"
			role="button"
			href="{% url 'accounts:oauth_ft' %}"
			>Log in to your 42 account</a>

		 {% comment %} link: Sign up  {% endcomment %}
		<div class="slideup-text form-sign-text pt-4" >
			<a href="{{ signup_url }}">Create an Account</a>
		</div>

    </div>
</div>

{% comment %} <script src="{% static 'accounts/js/login.js' %}"></script> {% endcomment %}
