{% extends 'base.html' %}
{% load static %}
{% block title %}Log out - hth Pong{% endblock title %}
{% block content %}
<!-- <div class="canvas-container">
	<div class="hs-text"> -->
		<div class="container">

			<div class="user-info-container">
				<button class="hth-btn" onclick="handleLogout()">Logout</button>
				<hr>
				<a href="{% url 'accounts:user'%}" class="nav__link" data-link>return to user page</a>
			</div>
			
		</div>
	<!-- </div>
</div> -->

<script type="module" src="{% static 'accounts/js/logout.js' %}"></script>

{% endblock %}
