{% extends 'base.html' %}
{% load static %}
{% block title %}Log out - hth Pong{% endblock title %}
{% block content %}
<div class="canvas-container">
	<div class="hs-text">
		<div class="container">

			<div class="user-info-container">
				<button onclick="handleLogout()">Logout</button>
				<hr>
				<a href="{% url 'accounts:user'%}">return to user page</a>
			</div>
			
		</div>
	</div>
</div>


<script>
	function handleLogout() {
		fetch('/accounts/api/logout/', {
			method: 'GET',
			headers: {
				'Content-Type': 'application/json'
			}
		}).then(response => {
			if (!response.ok) {
				throw new Error('Network response was not ok');
			}
			return response.json();
		})
			.then(data => {
				if (data.message) {
					alert(data.message);
					window.location.href = data.redirect;
				} else {
					throw new Error('No message in response');
				}
			})
			.catch(error => {
				console.error('Logout failed:', error);
				alert('Logout failed. Please try again.');
			});
	}
</script>

{% endblock %}
