{% comment %} user_info.html  {% endcomment %}

{% load static %}

<h1 class="slideup-text"><img src="{{ user_data.avatar_url }}" alt="User Avatar" class="avatar">{{ user_data.info_user_nickname }}'s Info (public)</h1>

{% comment %} StartDMリンク {% endcomment %}
<ul>
	<a href="{{ url_config.kSpaDmWithUrlBase }}{{ user_data.info_user_id }}/" class=" hth-btn my-4 slideup-text" data-link>Start DM</a>
</ul>

<hr>

{% comment %} フレンド関係の表示 {% endcomment %}
<h4 class="slideup-text">friendship</h4>
<ul class="user-info-ul">
	{% if user_data.is_friend %}
		<li class="slideup-text">Friend with You</li>
		<button class="hth-btn deleteFriendButton slideup-text" data-userid="{{ user_data.info_user_id }}">Delete friendship</button>
	{% elif user_data.friend_request_sent_status == "pending" %}
		<li class="slideup-text">Request sent (pending)</li>
		<button class="hth-btn cancelFriendRequestButton slideup-text" data-userid="{{ user_data.info_user_id }}">Cancel</button>
	{% elif user_data.friend_request_received_status == "pending" %}
		<li class="slideup-text">Request received (pending)</li>
	{% else %}
		<li class="slideup-text">Not Friend Yet</li>
		<button class="hth-btn sendFriendRequestButton slideup-text" data-userid="{{ user_data.info_user_id }}">Send Friend Reques</button>
	{% endif %}
</ul>

<hr>

{% comment %} Block {% endcomment %}
<h4 class="slideup-text">blocking</h4>
<ul class="user-info-ul">
	{% if not user_data.isBlockingUser %}
		<li class="slideup-text">Unblocking</li	>
		<button class="hth-btn blockUserButton slideup-text" data-nickname="{{ user_data.info_user_nickname }}">block user</button>
	{% else %}	
		<li class="slideup-text">Blocking</li>
		<button class="hth-btn unBlockUserButton slideup-text" data-nickname="{{ user_data.info_user_nickname }}">unblock user</button>
	{% endif %}
</ul>
