# docker/srcs/uwsgi-django/requirements.txt
# このファイルは、プロジェクトに必要なPythonパッケージとそのバージョンを記述します。

# フレームワーク
Django==5.0.2

# PostgreSQLデータベース用
psycopg2

# WSGIサーバー
uwsgi>=2.0

django-prometheus
python-logstash
web3
python-dotenv

Sphinx
sphinx-rtd-theme
myst-parser

requests

# 2FA
django-otp==1.3.0
qrcode==7.4.2
pyotp==2.9.0

# JWT
djangorestframework-simplejwt==5.3.1
