#### system & prject root #####
.DS_Store
.vscode
.idea
additional.mk


#### docker/ #####
.env
.env_src_credentials
*.crt
*.key

node_modules
pythontest

docker/srcs/kind/kind-config.yaml

docker/srcs/uwsgi-django/sphinx/build
docker/srcs/uwsgi-django/django_debug.log
# 再度修正。entrypoint.shで最新ファイルの自動収集を設定したため。
static/

docker/srcs/hardhat/hardhat_pj/artifacts
docker/srcs/hardhat/hardhat_pj/cache
docker/srcs/hardhat/hardhat_pj/docs
docker/srcs/hardhat/hardhat_pj/share/*.json

docker/srcs/pgadmin

#### init/ #####


#### kind/ #####


#### mount_volume/ #####
mount_volume/


#### other/ #####


#### test/ #####
test/result
test/hioikawa_test.sh


#### hioikawa #####
old/
play/
backup/
memo.md
PRIVATE


#### command-memo #####
# srcs/strapi/y-strapi-project/node_modules/*
# !srcs/strapi/y-strapi-project/node_modules/@strapi/
# srcs/strapi/y-strapi-project/node_modules/@strapi/*
# !srcs/strapi/y-strapi-project/node_modules/@strapi/strapi

# git rm --cached falename
# git rm -r --cached dirname
