#### system & prject root #####
.DS_Store
.vscode
.idea
additional.mk
__pychache__

#### docker/ #####
.env
.env_src_credentials
*.crt
*.key

node_modules
pythontest

docker/srcs/kind/kind-config.yaml

docker/srcs/uwsgi-django/sphinx/build
docker/srcs/uwsgi-django/django_debug.log
# 再度修正。entrypoint.shで最新ファイルの自動収集を設定したため。
docker/srcs/uwsgi-django/static/

# media/ にはupload fileが保存されるため追跡対象外とする
# ただし、default_avatarのみ追跡対象とする
docker/srcs/uwsgi-django/media/*
!docker/srcs/uwsgi-django/media/avatars/
docker/srcs/uwsgi-django/media/avatars/*
!docker/srcs/uwsgi-django/media/avatars/default_avatar.jpg

docker/srcs/hardhat/hardhat_pj/artifacts
docker/srcs/hardhat/hardhat_pj/cache
docker/srcs/hardhat/hardhat_pj/docs
docker/srcs/hardhat/hardhat_pj/share/*.json

docker/srcs/pgadmin
# 3D用
docker/srcs/webpack/ft_trans/public
docker/srcs/webpack2/ft_trans/public
docker/srcs/webpack2/ft_trans/docs
docker/srcs/vite/pong-three/public

# async カスタムlogger
docker/srcs/uwsgi-django/pong/utils
# Pong online用
js-tests
env
#### init/ #####


#### kind/ #####


#### mount_volume/ #####
mount_volume/


#### other/ #####


#### test/ #####
test/result
test/hioikawa_test.sh


#### hioikawa #####
old/
play/
backup/
memo.md
PRIVATE


#### command-memo #####
# srcs/strapi/y-strapi-project/node_modules/*
# !srcs/strapi/y-strapi-project/node_modules/@strapi/
# srcs/strapi/y-strapi-project/node_modules/@strapi/*
# !srcs/strapi/y-strapi-project/node_modules/@strapi/strapi

# git rm --cached falename
# git rm -r --cached dirname
