{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'pong/css/bootstrap/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
	<link rel="stylesheet" href="{% static 'pong/css/hth-default.css' %}">
	<link rel="stylesheet" href="{% static 'pong/css/hth-theme-mode.css' %}">
	<link rel="stylesheet" href="{% static 'pong/css/hth-breakpoint.css' %}">
	<link rel="stylesheet" href="{% static 'pong/css/hth-fontsize.css' %}">
	<link rel="stylesheet" href="{% static 'pong/css/hth-animation.css' %}" >
	<link rel="stylesheet" href="{% static 'pong/css/bootstrap/sticky-footer-navbar.css' %}">
	<link rel="stylesheet" href="{% static 'pong/css/hth-header.css' %}">
	<link rel="stylesheet" href="{% static 'pong/css/hth-main.css' %}">
	<link rel="stylesheet" href="{% static 'pong/css/hth-footer.css' %}">
	<link rel="stylesheet" href="{% static 'pong/css/hth-accounts.css' %}">
	<link rel="stylesheet" href="{% static 'pong/css/hth-match-history.css' %}">
	<link rel="stylesheet" href="{% static 'pong/css/hth-btn.css' %}">

	{% block extra_css %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block extra_js %}{% endblock %}
</body>
</html>
