
<footer class="footer mt-auto py-3 bg-body-tertiary">
	<div class="container">
		<!-- <span class="text-body-secondary">Place sticky footer content here.</span> -->
		<nav class="footer-menu">
			<ul>
				<li><a href="/pong/">Home</a></li>
				<li><a href="/pong/game/">Free Play</a></li>
				<li><a href="/pong/tournament">Tournament</a></li>
				{% if user.is_authenticated %}
					<li><a href="/accounts/logout/">Log out</a></li>
					<li><a href="/accounts/user/">Profile</a></li>
				{% else %}
					<li><a href="/accounts/signup/">Sign up</a></li>
					<li><a href="/accounts/login/">Log in</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
	</footer>