<div class="container-fluid">
	<nav>
		<ul id="hth-footer-menu" class="transition-ease-color">
			<li><a  class="transition-ease-color hth-menu-fsize" href="{{ url_config.kSpaPongTopUrl }}" data-link>TOP</a></li>
			{% comment %} <li><a  class="transition-ease-color hth-menu-fsize" href="{{ url_config.kSpaGame2D }}" data-link>2D-Pong</a></li> {% endcomment %}
			{% comment %} <li><a  class="transition-ease-color hth-menu-fsize" href="{{ url_config.kSpaGame3D }}" data-link>3D-Pong</a></li> {% endcomment %}
		</ul>
	</nav>
</div>
