<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>https://localhost/ | Django Index Page</title>
</head>
<body>
	<h1>Djangoのルート | https://localhost/</h1>
	<p>index.html | docker/srcs/uwsgi-django/trans_pj/templates</p>
	<h2>Django admin</h2>
	<p> - DJANGO_SUPERUSER_USERNAME = {{ admin_name }}<br>
		- DJANGO_SUPERUSER_EMAIL = {{ admin_email }}<br>
		- DJANGO_SUPERUSER_PASSWORD = {{ admin_pass }}</p>
	<ul>
		<li><a href="/admin/">admin/</a></li>
		<li><a href="/api/status/">api/status/</a></li>
	</ul>
	<h2>Django経由 pong</h2>
	<ul>
		<h3>Pong</h3>
		<ul>
			<li><a href="/pong/">🏓 pong index page</a></li>
		</ul>

		<h3>PsotgreSQL</h3>
		<!-- <p>PGADMIN_DEFAULT_EMAIL=a@a.jp<br>
			PGADMIN_DEFAULT_PASSWORD=pw</p> -->
		<ul>
			<li><a href="/pong/results/">pong/results/</a></li>
		</ul>

		<h3>Blockchain</h3>
		<ul>
			<li><a href="/pong/api/fetch_testnet/ganache/">pong/api/fetch_testnet/ganache</a></li>
			<li><a href="/pong/api/fetch_testnet/hardhat/">pong/api/fetch_testnet/hardhat</a></li>
			<li><a href="/pong/api/fetch_testnet/sepolia/">pong/api/fetch_testnet/sepolia</a></li>
		</ul>
	</ul>
	<h2>Devops</h2>
	<ul>
		<h3>Monitoring system</h3>
		<p>Grafana:<br>
			USER=adm<br>
			PASSWORD=adm</p>
		<ul>
			<li><a href="https://localhost:{{ grafana_port }}/d/rYdddlPWk/node-exporter-full?orgId=1&refresh=1m"> Grafana https {{ grafana_port }}:3000 | https://localhost:{{ grafana_port }}/d/rYdddlPWk/node-exporter-full?orgId=1&refresh=1m</a></li>
			<li><a href="http://localhost:3309/d/rYdddlPWk/node-exporter-full?orgId=1&refresh=1m"> grafana-dev http 3309:3000 | http://localhost:3309/d/rYdddlPWk/node-exporter-full?orgId=1&refresh=1m</a></li>
			<li><a href="http://localhost:{{ ptometheus_port }}/targets?search=#pool-node_exporter"> Prometheus http {{ ptometheus_port }}:9090 | http://localhost:{{ ptometheus_port }}/targets?search=#pool-node_exporter</a></li>
		</ul>
		<h3>ELK</h3>
		<p>
			# login: elastic pass: ELASTIC_PASSWORD<br>
			login: elastic<br>
			ELASTICSEARCH_USERNAME=kibana_system<br>
			ELASTICSEARCH_PASSWORD=changemeelastic<br>
			ELASTIC_PASSWORD=changemeelastic<br>
			KIBANA_PASSWORD=changemekibana<br>
			KIBANA_SYSTEM_PASSWORD='changeme'<br>
			LOGSTASH_INTERNAL_PASSWORD='changeme'<br>
		</p>
		<ul>
			<li><a href="http://localhost:{{ kibana_port }}"> kibana {{ kibana_port }}:5601 | http://localhost:{{ kibana_port }}/</a></li>
		</ul>
	</ul>
	<h2>コンテナ・サービス</h2>
	<ul>
		<li><a href="http://localhost:{{ frontend_port }}/three.html">frontend {{ frontend_port }}:3000 | http://localhost:{{ frontend_port }}/three.html</a></li>
		<!-- <li><a href="http://localhost:{{ pgadmin_port }}/">pgadmin: {{ pgadmin_port }}:80 |  https://localhost:{{ pgadmin_port }}/</a></li> -->
		<li><a href="https://localhost:{{ nginx_ssl_port }}/">nginx_ssl: {{ nginx_ssl_port }}:443 |  https://localhost:{{ nginx_ssl_port }}/</a></li>
	</ul>
</body>
</html>
