
/* TODO_ft:tournament UIHelper SPA後削除予定*/
#user-info {
	list-style-type: none;
}

/* TODO_ft:UI変更予定 */
#message-area {
	color: #ffb320;
}


/* accounts container*/

.hth-accounts-container {
	margin: auto;
	padding: 20px; 
	max-width: 500px;
	min-width: 300px;
	background-color: rgba(35, 24, 1, 0.921); 
	text-shadow: 0px 0px 0px #fff;
	border-radius: 10px; 
}

.hth-accounts-container form{
	padding-bottom: 2rem;
}
.hth-accounts-container h1{
	padding-bottom: 1.5rem; 
}

.hth-accounts-container h2{
	padding-bottom: 1rem; 
}

.hth-accounts-link {
	margin-top: 0.5rem; 
	margin-bottom: 2rem; 
} 

.hth-accounts-container li {
	color: #fff;
	list-style-type: none;
	padding-bottom: 0.2rem;
}

.hth-accounts-container a {
	color: #ffb320;
}
.hth-accounts-container a:hover {
	color: #fff;
}
