
#pong-online-canvas-container {
	position: absolute;
	width: 70vw;
	height: 70vh;
	aspect-ratio: 4/3;
	display: block;
	margin: 0 auto;
	padding: 0;
	z-index: 8888;
	/* 画面中央に配置 */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#hth-threejs-start-game-btn,
#hth-threejs-back-to-home-btn,
#hth-pong-online-start-game-btn,
#hth-pong-online-back-to-home-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	z-index: 9999;
}

/* for dev: websocket test button  */
#hth-pong-online-close-ws-btn{
	position: absolute;
	top: 85%;
	left: 20%;
	transform: translateX(-50%);
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	z-index: 9999;
}
