
#pong-online-canvas-container {
	/* ページのスクロールに関係なくビューポートに固定 */
	position: fixed;
	/* ゲームテーブルであることがわかるように余白をつける */
	width: 90vw;
	height: 90vh;

	aspect-ratio: 4/3;
	display: block;
	margin: 0 auto;
	padding: 0;
	/* 最前面に浮かせる */
	z-index: 9999;
}