/*------------------
custom: prefix hth
---------------------*/
.hth-main {
	width: 100vw; 
	max-width: 100%; 
	margin: 0;
	padding-top: 30px; /* ヘッダーの高さに合わせて調整 */
	flex-grow: 1; /* コンテンツが画面いっぱいに広がるように設定 */
	overflow-x: hidden; /* 横スクロールを無効にする */
}

/* Canvasのスタイリング */
.hth-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../img/bg.png') no-repeat center center; /* 背景画像の設定 */
	background-size: cover; /* 背景画像をカバーとして設定 */
	position: relative;
	color: #ffb320;
	text-shadow: 1px 1px 5px #000; 
}

.hth-container .text-shadow-primary{
	color: #ffb320;
	text-shadow: 0px 0px 10px #000; 
}

.hth-container .text-shadow-secondary {
	color: #fff;
	text-shadow: 1px 1px 5px #000;
}

.hth-container a {
	color: #fff; 
	text-decoration: none; 
	text-shadow: 1px 1px 5px #000; 
}

.hth-container  a:hover {
	color: #ffb320;
	text-shadow: 1px 1px 5px #000; 
}


.dev-link{
	color: #fff;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* 50%透明の黒のテキストシャドウ */
	background: rgba(0, 0, 0, 0.5); /* 50%透明の黒い背景 */
}
