
html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smooth: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 500;
	/* color: #131313; */
}

/* p {
	color: #fff;
} */

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}


/* Canvasのスタイリング */
.canvas-container {
	width: 100%; /* コンテナの幅 */
	/* height: 900px; */
	height: 100vh;
	display: flex; /* Flexboxを使用 */
	justify-content: center; /* 水平方向中央揃え */
	align-items: center; /* 垂直方向中央揃え */
	background: url('../img/bg.png') no-repeat center center; /* 背景画像の設定 */
	background-size: cover; /* 背景画像をカバーとして設定 */
	position: relative;
	color: #ffb320;
	text-shadow: 1px 1px 5px #000; 
}

.container h2{
	/* font-size: 3rem; */
	color: #ffb320;
	text-shadow: 0px 0px 10px #000; 
}

.container h3{
	/* font-size: 2rem; */
	color: #ffb320;
	text-shadow: 0px 0px 10px #000; 
}
.container h4{
	/* font-size: 2rem; */
	color: #ffb320;
	text-shadow: 0px 0px 10px #000; 
}

.container div{
	/* font-size: 2rem; */
	color: #ffb320;
	text-shadow: 0px 0px 10px #000; 
}

.dev-link{
	color: rgba(255, 179, 32, 0.5); /* 50%透明の黄色 */
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* 50%透明の黒のテキストシャドウ */
	background: rgba(0, 0, 0, 0.5); /* 50%透明の黒い背景 */
}

.container a {
	color: #fff; 
	text-decoration: none; 
	text-shadow: 1px 1px 5px #000; 
}

.container  a:hover {
	color: #ffb320;
	text-shadow: 1px 1px 20px #000; 
}

.container p {
	color: #fff;
	text-shadow: 1px 1px 5px #000; 
}

.text-overlay {
	position: absolute;
	bottom: 20px; /* 下部からの距離を調整 */
	left: 50%; /* 横方向中央揃え */
	transform: translateX(-50%); /* 横方向中央揃え */
}

.gw_results-container{
	background: #131313;
}

.gw_results-title{
	color: #fff;
}

.gw_results-ul{
	list-style-type: none;
	color: #fff;
}


/*---------------------
Commom elements
-----------------------*/

/* buttons */
.site-btn {
	display: inline-block;
	text-align: center;
	/* font-size: 15px; */
	padding: 16px 30px;
	min-width: 153px;
	border-radius: 50px;
	font-weight: 500;
	border: none;
	background: #ffb320;
	cursor: pointer;
	text-decoration: none;
	z-index: 100;
	text-shadow: 0px 0px 0px #fff; 
}

.site-btn.btn-sm {
	padding: 10px 30px;
	min-width: 163px;
}

.canvas-container .site-btn {
	color: #131313;
	text-shadow: 0px 0px 0px #fff; 
}

.site-btn:hover {
	color: #ffb320;
	background: #000;
}

#game-home-btn{
	top: 95%;
	left: 80%;
	position: absolute;
	z-index: 101;
	transform: translate(-50%, -50%);
	text-shadow: 0px 0px 0px #fff; 
}


/* tournament UIHelper */
#user-info {
	list-style-type: none;
}
