<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>edit user profile</title>
</head>
<body>
<h1>edit user profile</h1>
<p id="message-area"></p>

<!-- ニックネーム更新用のフォーム -->
<form id="nickname-form" onsubmit="updateNickname(event)">
    <h2>nickname</h2>
    <p><input type="text" id="nickname" placeholder="{{ current_nickname }}" required></p>
    <button type="submit">update nickname</button>
</form>

<br>


<!-- パスワード更新用のフォーム -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const is42AuthUser = "{{ is_42auth_user|yesno:'true,false' }}";  // Djangoのyesnoフィルターを使用
        if (is42AuthUser) {
            document.getElementById('password-form').style.display = 'none';  // パスワードフォームを非表示にする
        }
    });
</script>
<form id="password-form" onsubmit="updatePassword(event)">
    <h2>password</h2>
    <p>current password: <input type="password" id="current_password" placeholder="current-password" required></p>
    <p>new password: <input type="password" id="new_password" placeholder="new-password"></p>
    <button type="submit">update password</button>
</form>

<script>
    function updateNickname(event) {
        event.preventDefault();
        const nickname = document.getElementById('nickname').value;

        fetch('/accounts/api/user/edit-profile/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                nickname: nickname,
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('message-area').textContent = data.error;
                } else {
                    document.getElementById('message-area').textContent = data.message;
                    console.log('Success:', data.message);
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function updatePassword(event) {
        event.preventDefault();
        const currentPassword = document.getElementById('current_password').value;
        const newPassword = document.getElementById('new_password').value;

        fetch('/accounts/api/user/edit-profile/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                current_password: currentPassword,
                new_password: newPassword
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('message-area').textContent = data.error;
                } else {
                    document.getElementById('message-area').textContent = data.message;
                    console.log('Success:', data.message);
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>

<hr>
<a href="{% url 'accounts:user'%}">return to user page</a>
<hr>
<a href="/pong">🏓 return to pong</a>
</body>
</html>
