<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>ログイン</title>
</head>
<body>
<h1>ログイン</h1>
<p id="message-area"></p>
<form id="login-form" onsubmit="loginUser(event)">
    <input type="text" id="email" placeholder="E-mail" required><br>
    <input type="password" id="password" placeholder="password" required autocomplete="current-password">
    <input type="hidden" id="next" value="/accounts/user/">
    <button type="submit">ログイン</button>
</form>

<script>
    function loginUser(event) {
        event.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const nextUrl = document.getElementById('next').value;

        fetch('/accounts/api/login/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({email: email, password: password})
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    // Error
                    document.getElementById('message-area').textContent = data.error;
                    if (data.redirect) {
                        window.location.href = data.redirect;
                    } else {
                        console.error('Error:', data.error);
                    }
                } else if (data.message) {
                    // Verified
                    console.log(data.message);
                    window.location.href = data.redirect;  // Redirect on successful verification
                }
            })
            .catch(error => console.error('Error:', error));
        clearForm()
    }

    function clearForm() {
        document.getElementById('email').value = '';
        document.getElementById('password').value = '';
    }
</script>

<hr>
<a href="{% url 'accounts:oauth_ft' %}">login with 42</a>
<hr>
<a href="{% url 'accounts:signup'%}">ユーザー登録</a>
<hr>
<a href="/pong/">🏓 return to pong</a>
</body>
</html>
