<hr>
<h4>Server/pong</h4>
<ul class="dev-link">
	<li><a href="https://localhost/pong">Nginx https</a></li>
	<li><a href="http://localhost:8002/pong/">Django dev-server</a></li>
	<li><a href="http://localhost:5184/pong/">Vite dev-server</a></li>
</ul>
<h4>Incomplete / test</h4>
<ul class="dev-link">
	<li><a href="/accounts/signup/">accounts/signup/</a></li>
	<li><a href="/accounts/login/">accounts/login/</a></li>
	<li><a href="/accounts/oauth-ft/">accounts/oauth-ft/</a></li>
	<li><a href="/accounts/logout/">accounts/logout/</a></li>
	<li><a href="/accounts/user/">accounts/user/</a></li>
	<li><a href="/accounts/edit/">accounts/edit/</a></li>
	<li><a href="/accounts/verify/disable_2fa/">accounts/verify/disable_2fa/</a></li>
	<li><a href="/accounts/verify/enable_2fa/">accounts/verify/enable_2fa/</a></li>
	<li><a href="/accounts/verify/verify_2fa/">accounts/verify/verify_2fa/</a></li>
	<li><a href="/chat/dm-sessions/">chat/dm-sessions/</a></li>
	<li><a href="/pong/online/">pong/online/</a></li>
</ul>
<h5>MEMO:TODO_ft</h5>
<ul class="dev-link">
	<!-- <li>パスワードを変更できるように</li> -->
</ul>
<h5>本番環境</h5>
<ul class="dev-link">
	<li>view @csrf_exempt 削除</li>
</ul>
