<hr>
<h4>SPA-LINKS</h4>
<ul class="dev-link">
	<li><a href="https://localhost/app/" class="nav__link" data-link>kSpaPongTopUrl</a></li>
	<li><a href="https://localhost/app/home/" class="nav__link" data-link>kSpaHomeUrl</a></li>
	<hr>
	<li><a href="https://localhost/app/game/tournament/" class="nav__link" data-link>kSpaTournamentUrl</a></li>
	<li><a href="https://localhost/app/game/game-2d/" class="nav__link" data-link>kSpaGame2D</a></li>
	<li><a href="https://localhost/app/game/game-3d/" class="nav__link" data-link>kSpaGame3D</a></li>
<!--	<li><a href="https://localhost/app/game/match/" class="nav__link" data-link>kSpaGameMatchBase</a></li>-->
<!--	<li><a href="https://localhost/app/game/match/:matchId/" class="nav__link" data-link>kSpaGameMatchUrl</a></li>-->
	<hr>
	<li><a href="https://localhost/app/user/game-history/" class="nav__link" data-link>kSpaGameHistoryUrl</a></li>
	<li><a href="https://localhost/app/user/profile/" class="nav__link" data-link>kSpaUserProfileUrl</a></li>
	<li><a href="https://localhost/app/user/info/user2/" class="nav__link" data-link>kSpaUserInfoUrl->user2</a></li>
<!--	<li><a href="https://localhost/app/user/info/" class="nav__link" data-link>kSpaUserInfoUrlBase</a></li>-->
	<li><a href="https://localhost/app/user/friends/" class="nav__link" data-link>kSpaUserFriendUrl</a></li>
	<li><a href="https://localhost/app/user/profile/edit/" class="nav__link" data-link>kSpaEditProfileUrl</a></li>
	<li><a href="https://localhost/app/user/profile/change-avatar/" class="nav__link" data-link>kSpaChangeAvatarUrl</a></li>
	<hr>
	<li><a href="https://localhost/app/dm/" class="nav__link" data-link>kSpaDmUrl</a></li>
	<li><a href="https://localhost/app/dm/4/" class="nav__link" data-link>kSpaDmWithUrl->user2</a></li>
<!--	<li><a href="https://localhost/app/dm/" class="nav__link" data-link>kSpaDmWithUrlBase</a></li>-->
	<hr>
	<li><a href="https://localhost/app/auth/enable-2fa/" class="nav__link" data-link>kSpaAuthEnable2FaUrl</a></li>
	<li><a href="https://localhost/app/auth/verify-2fa/" class="nav__link" data-link>kSpaAuthVerify2FaUrl</a></li>
	<li><a href="https://localhost/app/auth/signup/" class="nav__link" data-link>kSpaAuthSignupUrl</a></li>
	<li><a href="https://localhost/app/auth/login/" class="nav__link" data-link>kSpaAuthLoginUrl</a></li>
	<hr>
	<li><a href="https://localhost/app/game/match/1" class="nav__link" data-link>Nothing-GameMatch</a></li>
	<li><a href="https://localhost/app/user/info/nothing" class="nav__link" data-link>Nothing-UserInfo</a></li>
	<li><a href="https://localhost/app/dm/nothing" class="nav__link" data-link>Nothing-DM</a></li>
	<li><a href="https://localhost/app/nothing" class="nav__link" data-link>Nothing-page</a></li>
	<hr>
</ul>
<h4>Server/pong</h4>
<ul class="dev-link">
	<li><a href="https://localhost/pong" class="nav__link" data-link>Nginx https</a></li>
	<li><a href="http://localhost:8002/pong/">Django dev-server</a></li>
	<li><a href="http://localhost:5184/pong/">Vite dev-server</a></li>
</ul>
<h4>Incomplete / test</h4>
<ul class="dev-link">
	<li><a href="/signup/" class="nav__link" data-link>accounts/signup/</a></li>
	<li><a href="/login/" class="nav__link" data-link>accounts/login/</a></li>
	<li><a href="/oauth-ft/">accounts/oauth-ft/</a></li>
	<li><a href="/logout/" class="nav__link" data-link>accounts/logout/</a></li>
	<li><a href="/user-profile/" class="nav__link" data-link>accounts/user/</a></li>
	<li><a href="/accounts/edit/" class="nav__link" data-link>accounts/edit/</a></li>
	<li><a href="/accounts/verify/disable_2fa/" class="nav__link" data-link>accounts/verify/disable_2fa/</a></li>
	<li><a href="/accounts/verify/enable_2fa/" class="nav__link" data-link>accounts/verify/enable_2fa/</a></li>
	<li><a href="/accounts/verify/verify_2fa/" class="nav__link" data-link>accounts/verify/verify_2fa/</a></li>
	<li><a href="/dm/" class="nav__link" data-link>chat/dm-sessions/</a></li>
	<li><a href="/pong/online/" class="nav__link" data-link>pong/online/</a></li>
	<li><a href="/app/game/game-3d/" class="nav__link" data-link>/app/game/game-3d/</a></li>
	<li><a href="/app/home/" class="nav__link" data-link>/app/home/</a></li>
</ul>
