{% extends 'base.html' %}
{% load static %}
{% block title %}Home - hth Pong{% endblock title %}
{% block content %}

<div class="container">
	<h2 class="
		slideup-text
		text-shadow-primary
		">Unrivaled <span>hth Pong</span> Experience</h2>

	{% if nickname %}
		<h3 class="
			slideup-text
			text-shadow-primary
			">welcome, [{{ nickname }}]</h3>
		<!-- <p class="slideup-text"><a href="{% url 'accounts:user' %}">User profile</a></p> -->
	{% else %}
		<h3 class="
			slideup-text
			text-shadow-primary
			">welcome, Guest</h3>
		<p class="
			slideup-text
			text-shadow-secondary
			">For a happier life, let's play the pong game!</p>
	{% endif %}

	<!-- for dev -->
	{% include 'pong/dev-link.html' %}

</div>

<script src="{% static 'accounts/js/logout.js' %}"></script>
{% endblock %}
