<!-- pong/index.html -->

{% load static %}

<!-- TODO_ft: bugfooter hover color がbg同じ -->

<!-- TODO_ft:gameではcontainerが邪魔になるのでbase.htmlに入れられない -->
<div class="container" id="hth-txt-container">
	<h2 class="
		slideup-text
		text-shadow-primary
		">Unrivaled <span>hth Pong</span> Experience</h2>

	{% if nickname %}
	<h3 class="
			slideup-text
			text-shadow-primary
			">Welcome, [{{ nickname }}]</h3>
	<!-- <p class="slideup-text"><a href="{% url 'accounts:user' %}">User profile</a></p> -->
	{% else %}
	<h3 class="
			slideup-text
			text-shadow-primary
			">Welcome, Guest</h3>
	<p class="
			slideup-text
			text-shadow-secondary
			">For a happier life, let's play the pong game!</p>
	{% endif %}

	{% include 'pong/dev-link.html' %}


	{% if user_id %}
	<input type="hidden" id="user-id" value="{{ user_id }}">
	{% endif %}
</div>


<!--<script src="{% static 'accounts/js/logout.js' %}"></script>-->
