<!--{% extends 'base.html' %}-->
<!--{% load static %}-->

<!--{% block extra_css %}-->
<!--	<link rel="stylesheet" crossorigin href="{% static 'pong/css/hth-online.css' %}">-->
<!--{% endblock %}-->

<!--{% block title %}Play - hth Pong{% endblock title %}-->
<!--{% block content %}-->
<!--	{% csrf_token %}-->
	<canvas id="pong-online-canvas-container"></canvas>
	<!-- <canvas id="pong-online-canvas-container" width="400" height="300"></canvas> -->
<!--<script type="module" crossorigin src="{% static 'pong/js/online/PongOnlineIndex.js' %}"></script>-->
<!--{% endblock %}-->
