{% extends 'base.html' %}
{% load static %}
{% block title %}Tournament - hth Pong{% endblock title %}
{% block content %}
	{% csrf_token %}
	<div class="canvas-container">

		<div class="container" id="tournament-container">

			<div class="user-info-container">
				<h1>User</h1>
				<ul id="user-info">
					<!-- JavaScriptで動的に内容が生成される -->
				</ul>
			</div>

			<div id="latest-tournament">
				<!-- JavaScriptで動的に内容が生成される -->
			</div>

			<p id="error-message" style="color: red;"></p>

			<div id="tournament-form">	
				<!-- JavaScriptで動的に内容が生成される -->
			</div>
			
			<p id="submit-message" style="color: green;"></p>
			<button id="back-home" style="display: none;">Back to Home</button>
			
			<ul class="dev-link my-4">
				<h4>dev用</h4>
				<li><a href="http://localhost:8002/pong/api/tournament/data/"> (dev)tournament/data/</a></li>
			</ul>

		</div>

	</div>

<script type="module" src='{% static "pong/js/tournament/tournamentMain.js" %}'></script>

{% endblock %}