{% extends 'base.html' %}
{% load static %}
{% block title %}Tournament - hth Pong{% endblock title %}
{% block content %}
	{% csrf_token %}
	<div class="hth-container">

		<div class="container" id="tournament-container">

			<div class="user-info-container">
				<!-- <h1>User</h1> -->
				<ul id="user-info">
					<!-- JavaScriptで動的に内容が生成される -->
				</ul>
			</div>

			<div id="tournament-round"></div>

			<div id="ongoing-tournament">
				<!-- JavaScriptで動的に内容が生成される -->
			</div>

			<p id="error-message" style="color: red;"></p>

			<div id="tournament-form">	
				<!-- JavaScriptで動的に内容が生成される -->
			</div>
			
			<p id="submit-message" style="color: green;"></p>
			<button id="back-home" style="display: none;">Back to Home</button>

		</div>

	</div>

<!-- 要素のidを変更した場合、ConfigTournament.js を修正してください -->
<script type="module" src='{% static "pong/js/tournament/tournamentMain.js" %}'></script>

{% endblock %}