body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: black;
}

.spa_area {
  /*border: solid black 1px;*/
  border: solid #00ff00 5px;
  margin-top: calc(var(--header-height) + 40px);
  position: relative;
  z-index: 1021; /* ヘッダーよりも下に表示されるようにz-indexを設定 */
}

#app {
  margin: 2em;
  line-height: 1.5;
  font-weight: 500;
}

a {
  color: blue;
}
