{% extends 'base.html' %}
{% load static %}
{% block title %}Game2 - hth Pong{% endblock title %}

<!-- docker/srcs/uwsgi-django/pong/static/pong/gw/ball_aura/docs -->
<!-- <link rel="stylesheet" href="{% static 'pong/gw/css/gw_base.css' %}"/>
<link rel="stylesheet" href="{% static 'pong/gw/css/gw_contents.css' %}"/> -->

{% block content %} 
  <script src="https://unpkg.com/three@0.137.0/build/three.min.js"></script>
    <script src="{% static 'share_webpack/main.js' %}"></script>
  	<div class="canvas-container">
      <!-- <div class="container"> -->
        <canvas id="myCanvas"></canvas>
      <!-- </div> -->
    </div>
{% endblock %}