{% extends 'pong/gw/base.html' %}
{% load static %}
{% block title %}Home - hth Pong{% endblock title %}

{% block content %}

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="{% static 'gw/img/background.png' %}">
				<div class="hs-text">
					<div class="container">
						<h2>Unrivaled <span>hth Pong</span> Experience</h2>
						<p>This project is about doing something you’ve never done before. Remind yourself the beginning of your journey in computer science. Look at you now. Time to shine!</p>
						<a href="#" class="site-btn">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

{% endblock %}