<!-- docker/srcs/uwsgi-django/pong/templates/pong/online/duel/duel.html -->
{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" crossorigin href="{% static 'pong/css/hth-online.css' %}">
{% endblock %}
{% block title %}Duel Room - hth Pong{% endblock title %}
{% block content %}
	{% csrf_token %}

	<canvas id="pong-online-duel-canvas-container"></canvas>
	{{ target_nickname|json_script:"target_nickname" }}
	<script type="module" crossorigin src="{% static 'pong/js/online/duel/PongOnlineDuelIndex.js' %}"></script>
{% endblock %}